<h1>編集画面</h1>
<!-- resourcesメソッドでルーティングを短縮した記述をフォームに追記 -->
<%= form_with model: @list do |f| %>
<!-- ルーティングにはupdateのためにHTTPメソッドをPATCH,名前付きルートをupdate_listに設定しているので、その記述をフォームに追記 -->
<!-- %= form_with model: @list, url: update_list_path(@list.id), method: :patch do |f| % -->

  <h4>タイトル</h4>
  <%= f.text_field :title %>
  
  <h4>本文</h4>
  <%= f.text_area :body %>
  
  <!-- Listモデルのimage用のフィールドを追加 -->
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <%= f.submit '保存' %>
  
<% end %>
