<h2>タイトル</h2>
<p><%= @list.title %></p>

<h2>本文</h2>
<p><%= @list.body %></p>
<h2>画像</h2> <!-- imgタグを生成するimage_tagヘルパーを使い、画像の表示を行います。 -->
  <% if @list.image.attached? %> <!-- これは、list.imageに対して.attached?というimageが存在するかを確認するメソッドを呼び出しています。-->
    <%= image_tag @list.image, size: "300x300" %> <!-- listに紐ついているimageをimage_tagに渡すことで画像を表示する。画像サイズを300x300に設定 -->
  <% else %> <!-- imageが存在していなければ用意したno_imageを表示する -->
    <%= image_tag 'no_image', size: "300x300" %>
  <% end %>
  
<%= link_to "編集", edit_list_path(@list.id) %>  <!-- 編集画面へ遷移するリンクを設定 -->
<!-- link_toのmethodオプションは、URLに対してHTTPメソッドを設定するためのオプションです。data-confirmを用いて削除確認ダイアログも表示 -->
<%= link_to "削除", destroy_list_path(@list,id), method: :delete, "data-confirm" => "本当に削除しますか？" %>,